/.idea
/.design
/vendor
/node_modules
/html-old-trash
/html-old
/html/Test
/html/adminer.php
Homestead.yaml
Homestead.json
.env
.env.server
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
composer.lock
access.log
error.log
Thumbs.db
composer.phar

