.streamer-item.violet{
padding: 0 6px;
}
.streamers-list-new{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
}
.streamer-id{
    color:#4A4A4A;
    width: 32%;
    margin-right:2%;
    margin-top: 100px;
}
.games-followers:after{
    clear:both;
    content:'';
    display:block;
}
.streamer-id:nth-child(1){
    margin-top:20px;
}
.streamer-id:nth-child(2){
    margin-top:20px;
}
.streamer-id:nth-child(3){
    margin-top:20px;
}

.streamer-id:nth-child(3n){
    margin-right:0;
}
.streamer-id-follow{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 3px;
    border-bottom: 1px solid #ACACAC;
    border-top: 1px solid #fff;
    max-height:46px;
    background: rgba(255, 255, 255, 0.42);
background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.42) 0%, rgba(191, 191, 191, 0.25) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.42)), color-stop(100%, rgba(191, 191, 191, 0.25)));
background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.42) 0%, rgba(191, 191, 191, 0.25) 100%);
background: -o-linear-gradient(top, rgba(255, 255, 255, 0.42) 0%, rgba(191, 191, 191, 0.25) 100%);
background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.42) 0%, rgba(191, 191, 191, 0.25) 100%);
background: linear-gradient(to bottom, rgba(255, 255, 255, 0.42) 0%, rgba(191, 191, 191, 0.25) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6441a5', endColorstr='#e8e4e3', GradientType=0 );
}
.streamer-id-follow span{
    display: block;
    font-size: 14px;
}
.str-id-photo img{
    width: 70px;
    margin: -13px 0;
    border-radius:50%;
    border: 3px solid #fff;
    box-shadow:0 0 5px #000;
}
.streamer-id-info{
    background-color:#F5F5F5;
    padding:60px 75px;
    padding: 25px 10px;
    min-height: 232px;
    max-height:232px;
    border-top: 1px solid #ACACAC;
    border-bottom: 1px solid #ACACAC;
}
.streamer-id-name{
    background: #DEDEDE;
    padding: 10px;
    font-size: 20px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    text-align: center;
}
.streamer-id-name span{
    display: block;
    font-style: normal;
    margin-top: 15px;
    font-size: 20px;
}
.streamer-id-info li{
    margin-bottom: 10px;
}
.streamer-id-info i{
    width: 25px;
    text-align: center;
    display: inline-block;
}
.streamer-id-info a{
    color:#4A4A4A;
}
.streamer-id-button{
    text-align: center;
}
.streamer-id-button a{
    padding: 15px 10px;
    display: block;
    background-color: #6441A5;
    color:#fff;
}
.choose-strimer form>div{
    display:inline-block;
    box-sizing:border-box;
}
.games-followers{
    
}
.choose-strimer form>* {
    display: inline-block;
    vertical-align: top;
}
.games .checkbox{
    width: 48%;
    display: inline-block;
}
.choose-strimer .checkbox{
    margin-bottom:14px;
}
.language-and-banner .checkbox{
    margin-bottom:13px;
    margin-top:0;
}
.language-and-banner>div>label{
    margin-bottom: 15px;
}
.language-and-banner .form-group:first-child{
  margin-bottom:84px;  
}
.games-followers>div {
    margin-bottom: 20px;
}



.games-followers .form-group label{
    margin-bottom:10px;
}
.games-followers .form-group:first-child label{
    margin-bottom:20px;
}


.games .form-group label[for="games"]{
    margin-left: 90px;
}
.choose-strimer .games-button{
    display: block;
    margin: 15px auto;
    width:200px;
}
.choose-strimer .games-button button{
    width:200px;
}
.choose-strimer input[type="checkbox"]{
    top:0px;
}
@media screen and (max-width:992px){
    .streamer-id{
        width:48%;
    }
    .streamer-id:nth-child(3n) {
        margin-right: 2%;
        margin-top:100px;
    }
}
@media screen and (max-width:750px){
    .games-followers{
        width:50%;
    }
    .language-and-banner .form-group:first-child{
        margin-bottom:15px;
    }
}
@media screen and (max-width:450px){
    .streamer-id{
        width:98%;
        margin-bottom: 50px;
    }
    .streamer-id:first-child{
        margin-top:50px;
    }
    .streamers-list-new{
        justify-content:center;
    }
    .games-followers{
        width:100%;
    }
}
