.client-auth{
    width:500px;
    margin:0 auto;
    text-align:center;
}
.client-auth h1 {
    color: #6441A5;
    text-align:center;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 39px;
    text-shadow: 0 0 6px #9E9696;
    margin: 35px 0 20px 0;
}

.client-auth .btn-white{
    margin: 0px 0 20px
    padding:5px 25px;
}
.client-auth .form-group {
    margin: 25px 0;
}

.client-auth label {
    display: block;
    font-size: 21px;
    margin-bottom: 5px;
}

 .client-auth .form-control {
    font-size: 18px;
    height:34px;
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px 10px;
    border: 1px solid #CDB9F1;
    color: #4917A5;
    outline:none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.client-auth .form-control:focus {
    outline: 2px solid #4917A5;
}

.client-auth .btn{
    background-color: #6441A5;
    color: #fff;
    border: 2px solid #6441A5;
    width: 30%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    cursor: pointer;
    font-size: 21px;
    padding: 10px;
}

.client-auth .error-message {
    color: red;
    font-weight: bold;
}
