.nav-column{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items:center;
    flex-direction: column;
    padding-top: 125px;
    position: fixed;
    width: 25%;
    left: 0;
    bottom: 0;
    height: 100%;
    background:#ccc url(../../images/halftone.png) repeat;
}
.nav-column a img{
    width: 200px;
}
.nav-column h1{
    font-size: 30px;
    font-family: 'Julius Sans One', sans-serif;
    color:#000;
    margin: 25px 0 15px;
}
.main-nav{
    text-align: center;
    background: #fff url(../../images/debut_dark.png) repeat;
    padding: 20px 20px 20px 25%;
}
.main-nav ul li{
    display: inline-block;
    margin-right: 30px;
}
.main-nav ul li a{
    color:#fff;
    font-size: 18px;
    font-family: 'Julius Sans One', sans-serif;
}
.main-nav ul li:last-child{
    margin-right: 0;
}
.nav-column i{
    font-size: 120px;
    line-height: 1;
    color:#000;
}
.title-intro,
.title-descr{
    font-size: 20px;
    line-height: 1.5;
    text-shadow: 0px 0px 7px rgba(255,255,255, 0.3);
    font-family: 'Satisfy', cursive;
}